<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>RegistrarPedido</title>


	<!-- Bootstrap core CSS -->
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<div th:include="PaginaMaestraProductos::nav"></div>

	<!-- Page Content -->
	<div class="container">


		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			Registrar Pedido
		</h1>

		<form class="form-horizontal" th:action="@{/Vistas/GuardarPedido}" method="post" th:Object="${pedido}"
			enctype="multipart/form-data">
			<input type="hidden" th:field="*{idpedido}">

			<div class="form-group">
				<label class="control-label col-sm-2" for="marca">Empleado:</label>
				<div class="col-sm-10">
					<select class="form-control" id="marca" name="marca" th:field="*{empleado.idempleado}">
						<!-- Aquí debes incluir opciones de marcas dinámicamente -->
						<option th:each="empleado : ${listaempleado}" th:value="${empleado.idempleado}" th:text="${empleado.nombre}">
							Marca 1</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="nombre">Fecha Creacion:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="fechacreacion" name="fechacreacion" th:field="*{fechapedido}"
						placeholder="Ingrese la fecha de creacion del pedido" autocomplete="off" required th:format="'dd-MM-yyyy'">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="descripcion">Estado:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="estado" name="estado"
						th:field="*{estado}" placeholder="Ingrese el estado del producto" autocomplete="off"
						required>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="cantidad">Metodo Pago:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="precio" name="precio" th:field="*{metodopago}"
						placeholder="Ingrese el metodo de pago" required autocomplete="off" >
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="precio">Descuento:</label>
				<div class="col-sm-10">
					<input type="number" class="form-control"  id="stock" name="stock" th:field="*{total}"
						placeholder="Ingrese el total del producto" autocomplete="off" required step="0.01">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-2 mx-auto">
					<button type="submit" class="btn btn-success">
						<span class="glyphicon glyphicon-saved"></span> Guardar
					</button>
				</div>
			</div>
			<br>

		</form>

	</div>
	<!-- /.container -->

	<!-- Footer -->
	<div th:include="PaginaMaestraProductos::footer"></div>

	<!-- Bootstrap core JavaScript -->
	<script src="../vendor/jquery/jquery.min.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="@{/js/script.js}"></script>
</body>

</html>